<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            background-image: url("static/img.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

    <meta charset="UTF-8">
    <title>Upload CSV File</title>
</head>

<body>
    <h1>HJ WebApp</h1>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file">Select a CSV file:</label> <br>
        <input type="file" name="file" id="file" style="color:red;font-size:40px;" /> <br>
        <label for="file">Provide input 1</label> <br>
        <input type="text" name="is_param_one" id="is_param_one" style="color:red;font-size:40px;" /> <br>
        <input type="submit" value="Upload" style="display: inline-block;" /> <br>
    </form>
</body>

</html>